@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: auto;
    padding: 20px;
    max-width: 63ch;
    color: white;
}

:root {
    background-color: #201318;
    font-family: "Inter"
}