---
import "../styles/main.scss";
import { siDiscord, siGithub, type SimpleIcon } from "simple-icons";
import { logo } from "../lib/logo.ts";

interface Social {
	icon: SimpleIcon;
	url: string;
	text: string;
}

const socials: Social[] = [
	{
		icon: siDiscord,
		url: "//discord.com/users/1190738230430158933",
		text: "@zyntaxian",
	},
	{
		icon: siGithub,
		url: "//github.com/zyntaxian",
		text: "@zyntaxian",
	},
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>syntaxian</title>

		<style lang="scss">
			$social-color: rgb(255, 159, 49);

			a {
				color: $social-color;
				text-decoration: none;
				padding: 10px;
				border-radius: 8px;
				background-color: rgb(45, 45, 45);
				display: flex;
				gap: 1ch;
				

				& svg {
					fill: $social-color;
				}
			}

			.socials {
				display: flex;
				gap: 1ch;
			}
		</style>
	</head>
	<body>
		<h1>
			<span
				style="vertical-align: middle;"
				set:html={logo(48, 48)}
			/>Syntaxian
		</h1>
		<p>
			Hey, im Syntaxian, im an unfunny programmer on the internet, who
			sucks at frontend development but loves backend development. I also
			love reverse engineering <b
				>( but in a fun way, not in a dangerous way )</b
			>
		</p>
		<br />

		<div class="socials">
			{
				socials.map((social) => (
					<a href={social.url} rel="me" title={social.icon.title}>
						<span
							set:html={`${social.icon.svg.replace(
								`role="img"`,
								`role="img" width="24" height="24" style="vertical-align: middle;" fill="currentColor"`,
							)}`}
						/>
						<span>{social.text}</span>
					</a>
				))
			}
		</div>
	</body>
</html>
